* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    width: 30px;
    height: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.intro-section {
    padding: 4rem 1rem;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.skills-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%; 
    justify-items: center; 
    align-items: center; 
    
}
.skills-section img {
    max-width: 100px; 
    height: auto;
}

.skill-icon {
    width: 85px;
    margin: 0 1rem;
}
.skill-icon2 {
    grid-column: 2; 
    grid-row: 1 / 3; 
}
.skill-icon2 img {
    max-width: 190px; 
    height: auto;
}

.code-section {
    padding: 2rem 1rem;
}

.code-section img {
    max-width: 100%;
    height: auto;
}

.about-section {
    background-color: #1c1c3c;
    color: white;
    padding: 2rem 1rem;
}

.about-section h2 {
    margin-bottom: 1rem;
}

.about-section p {
    max-width: 800px;
    margin: 0 auto;
}

.services-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    background-color: #f4f4f4;
}

.service {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-icon {
    width: 50px;
    margin-bottom: 1rem;
}

.service h3 {
    margin-bottom: 1rem;
}

.service p {
    margin-bottom: 1rem;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tags span {
    background-color: #0f66bd;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 0.875rem;
}

.projects-section {
    padding: 2rem 1rem;
}

.projects-section h2 {
    margin-bottom: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    padding: 0 1rem;
}

.project-image {
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.more-projects-btn {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.more-projects-btn:hover {
    background-color: #0088cc;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    
}

.articles-section {
    padding: 2rem 1rem;
    text-align: center;
}

.articles-section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.articles-container {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

.articles-container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

table a {
    text-decoration: none;
    color: #333;
}

.more-articles-btn {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.more-articles-btn:hover {
    background-color: #0088cc;
}
.testimonials-section {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #f4f4f4;
}

.testimonials-section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.testimonials-section p {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #666;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    max-width: 600px;
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.testimonial-author {
    font-weight: bold;
    font-size: 1.125rem;
}

.testimonial-role {
    font-size: 0.875rem;
    color: #999;
}

.prev-btn,
.next-btn {
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0 1rem;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #0088cc;
}
.contact-section {
    background-color: #00aaff;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin: 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-section p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.contact-btn {
    display: inline-block;
    width: 50%;
    padding: 0.75rem 1.5rem;
    background-color: #0088cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 0 auto;
}


.contact-btn:hover {
    background-color: #005f99;
}

.footer-section {
    background-color: #1c1c3c;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin: 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.social-links  {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    margin: 20px;
}
 
.social-links img {
    max-width: 3%; 
    height: auto;
    margin: 0; 
    padding: 0; 
}